.contact {
  background: $blue;
  color: #ffffff;
  h1 {
    color: #ffffff;
  }

  #map {
    height: 300px;
  }

  a {
    display: inline-block;
    color: $bg;
    &:hover {
      color: #ffffff;
      //   text-decoration: none;
    }
  }
}

@media (min-width: 768px) {
  .contact {
    #map {
      height: 400px;
    }
  }
}
