.contact {
  background: $blue;
  color: #ffffff;
  h1 {
    color: #ffffff;
  }

  #map {
    height: 400px;
  }

  a {
    display: inline-block;
    color: $bg;
    &:hover {
      color: #ffffff;
      //   text-decoration: none;
    }
  }
}
