.swiper-container-main {
  background: url("/img/highlight/00_logo-bg.svg") 100% 100% / auto 80%
    no-repeat;
  background-color: $bg;
}

.highlights {
//   height: auto;
  margin: auto;
}

.featrue-icon {
  width: 80px;
}

.icon-container {
  max-width: 720px;
  margin: 0 auto;
  .icon-wrapper {
    max-width: 80px;
  }
  h5 {
    font-size: 1rem;
    color: $blue;
  }
}

@media (min-width: 768px) {
  .hightlighs {
    height: 100%;
  }

  .featrue-icon {
    width: 100px;
  }

  .icon-container {
    .icon-wrapper {
      max-width: 120px;
    }
    h5 {
      font-size: 1.25rem;
    }
  }
}
